.buttons{

    -fx-background-radius: 30px;

    -fx-border-radius: 30px;
    -fx-border-width: 3px;


}
#loginButton
{
    -fx-background-color:rgb(254,225,83);
}
#textLabel
{
   -fx-fill: red;
   -fx-stroke: firebrick;
   -fx-stroke-width: 2px;

}